.navbar  {
 border: red solid 1px;
 height: 50px;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

 .body  {
  border: blue solid 1px;
  height: auto;
  width: auto;
  display:flex;
  flex-direction: row;

 }

 .leftbody  {
  border: green solid 1px;
  height: auto;
  width: auto;
  display:flex;
  flex-direction: row;

 }

 .recs  {
  border: green solid 1px;
  height: 750px;
  width: 500px;
  text-align: center;

 }

 .map  {
  border: green solid 1px;
  height: 750px;
  width: 500px;
  text-align: center;

 }
 .sidebar  {
  border: red solid 1px;
  height: 750px;
  width: 500px;
  text-align: center;

 }

 .search {
  width: 1600px;
  height: 40px;
  border: black solid 1px;
  text-align: center;
 }




