.recommendation{
  margin: 30px;
  padding-bottom: 23px;
  text-align: left;
  border-bottom: 1px solid rgb(185, 185, 185);
}

.rec-title{
  font-weight:bold;
  color:  rgb(28, 62, 91);
  cursor: pointer
}

.rec-location{
  color: rgb(46, 68, 87);
  padding: 5px 0;
}

.section-title{
  background-color:  rgb(28, 62, 91);
  color: white;
  font-weight: 500
}
