.search-bar{
    position: relative;
    background: #fff;
    height: 67px;
    width: 100%;
    border-radius:40px;
    border: none;
    z-index: 0;
    color: #414141;
    box-shadow: 1px 1px 3px 1px  rgba(0, 0, 0, 0.1);
    padding: 5px;
    padding-left: 5vw;
    flex-grow: 1;
    font-size: 20px;
  }


  .search-form {
    position: relative;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 10vh;
    left: 25vw;
    width: 50vw;
  }

  .search-icon {
    position: absolute;
    left: -12px;
    top: 26px;
    z-index: 5;
    color: #414141;
    font-size: 24px;
  }

  .arrow-icon {
    left: 48vw;
    top: 19px;
    position: absolute;
    font-size: 40px;
    color:  rgb(28, 62, 91);;
    cursor: pointer;
  }

  .search-results-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #fff;
    /* height: 200px; */
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    box-shadow: #414141 0 2px 24px 0 ;
    overflow-x: hidden;
    top: 36px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor:pointer;
  }

  .search-result{
    z-index: 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e6e6e6;
    padding: 10px;
  }

  .search-result:hover{
    /* z-index: 0; */
    /* display: flex; */
    /* align-items: center; */
    border-bottom: 1px solid #e6e6e6;
    /* padding: 10px; */
    background-color: #e6e6e6;
  }

  .search-result-active{
    background-color: #e6e6e6;
    padding: 10px;
    display: flex;
    align-items: center;
  }

  .result{
    display: flex;
    align-items: center;
    text-decoration:none;
    font-size: 16px;
    line-height: 1.42;
    font-family: Proxima Nova,Arial,sans-serif;
    color: #414141;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .searching-icon{
    margin-right: 15px;
    padding: 10px;
    background: rgb(242, 242, 242);
    border-radius: 50px;
  }

  .search-container{
    display: flex;
  }

  .arrow-icon:hover{
    color:#64bc29;
    transition: ease-in;
    transition: color 0.3s ease;
  }

  .search-location{

  }

  /* .welcomeMessage{
    position: relative;
    top: 20vh;
    text-align: center;
    z-index: 1;
    font-size: 64px;
    font-weight: 700;
    color: #fff;
    font-family: Proxima Nova,Arial,sans-serif;
  } */


  /* .home-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 100;
  } */

  .search-form input:focus::placeholder {
    color: transparent;
    border: none;
  }

  .search-bar input:focus{
    outline: none;
    border: none;
  }

  .search-form input:hover{
    outline: none;
    border: none;
  }

  .search-form input::placeholder {
    font-size: 18px;
    margin: 0px 4px;
    border: none;
  }

  #beach-image{
    position: absolute;
    display: block;
    width: 100vw;
    height: 99%;
    object-fit: cover;
  }

  .splash {
    padding: 0;
    min-height: 100vh;
    background-color: rgb(104, 112, 130);
  }