.recs  {
  border: green solid 1px;
  height: 300px;
  width: 500px;
  text-align: center;

 }

 .map  {
  border: green solid 1px;
  height: 300px;
  width: 500px;
  text-align: center;

 }
 .sidebar  {
  border: red solid 1px;
  height: 300px;
  width: 500px;
  text-align: center;

 }

 .results  {
  margin-top: 300px;
  height: auto;
  width: auto;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
 }